---
import type { countryInterface } from "../types/countryInterface";

// TODO: Recibe de las props 1 country
interface Props {
  country: countryInterface;
}

const { country } = Astro.props;

// Obtener el primer código de moneda si existen monedas
const currencyCode = country.currencies
  ? (Object.keys(country.currencies)[0] as keyof typeof country.currencies)
  : undefined;

// Usar aserción para que TypeScript sepa que sí existe
const currency =
  currencyCode && country.currencies
    ? country.currencies[currencyCode]
    : undefined;
const symbol = currency?.symbol ?? "";
const currencyName = currency?.name ?? "";
---

<h1 class="text-5xl font-bold">{country.name.common}</h1>
<img
  class="my-8"
  src={country.flags.svg}
  alt="Bandera de Mongolia"
  width="300"
/>

<div class="flex gap-4">
  <span><i class="bi bi-people text-green-500"></i> {country.population}</span>
  <span
    ><i class="bi bi-coin text-yellow-400"></i>
    {currencyName} - ({symbol})
  </span>
</div>
